* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f7fa;
    color: #333;
}

/* HEADER */
.header {
    background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;
    padding: 40px;
}

/* MENU */
.menu {
    display: flex;
    justify-content: center;
    background-color: #111;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
}

.menu a:hover {
    background-color: #2c5364;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 30px;
}

.hero img {
    width: 50%;
    border-radius: 15px;
}

.hero-texto h2 {
    color: #2c5364;
    font-size: 32px;
}

.hero-texto button {
    margin-top: 15px;
    padding: 12px 20px;
    background-color: #2c5364;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.hero-texto button:hover {
    background-color: #0f2027;
}

/* SERVICIOS */
.servicios {
    padding: 50px;
    text-align: center;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.card {
    background-color: white;
    padding: 25px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* FOOTER */
.footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
}


.card i {
    font-size: 40px;
    color: #2c5364;
    margin-bottom: 15px;
}
